/* Reset some default styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.shopName {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    animation: fadeIn 2s ease;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #3498db;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.horizontal-image,
.square-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container:hover .horizontal-image,
.image-container:hover .square-image {
    transform: scale(1.1) rotate(15deg);
}

.cart-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cart-button:hover {
    background-color: #2980b9;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
